@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import '~devicon/devicon.min.css';

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}
